table, tr, td {
	border:solid 2px grey;
	padding: 0;
	margin:0;
	box-shadow:5px 10px 5px 5px;
}

.tableHeader {
    display: table-cell;
    border:solid 3px grey;
    font-weight: bold;
    text-align: center;
    background:grey;
   
}


